.nav-bar { /*WHOLE NAV BAR*/
  background-color: #556b2f;
  color: white; /*text color*/
  display: flex; /*flex - items vijne njeri pas tjetrit rresht inline*/
  align-items: center;
  justify-content: space-between;/*hapsire mes nj majtas nj djathtas, nqs ë center dalin tgjitha nmes*/
  padding: 5px 20px; /* padding for better spacing, (vertikal,horizontal) */
  border-radius: 8px; /* rounded corners */
}

.image-nav {
  width: 50px;/*width(madhesi)*/
  padding: 10px;
  margin-right: 10px;
}

nav ul {
  list-style: none; /* Remove default list styles */
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 15px; /* Added margin between list items */
}

nav ul li:last-child {
  margin-right: 0; /* Remove margin for the last list item */
}

nav ul li a {
  color: #ecf0f1;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px; /* Rounded corners for the links */
  transition: background-color 0.3s, color 0.3s; /* Smooth transition effect */
}

nav ul li a:hover {
  background-color: #ecf0f1;
  color: #2c3e50;
  text-decoration: none;
  padding: 10px;
}
/* END: Navigation Bar */

/* START: Footer */
footer {
    background-color: rgba(245, 228, 228, 0.3);
    text-align: center;
    position: fixed;
    padding: 20px;
    width: 100%;
    bottom: 0;
    height: 10px;
  }
  /* END: Footer */

  /*START RESERVATIONS PAGE*/
  
  body{
    background-image: url(/images/background.webp);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: 100% 100%;
}

#formId{
    background-color: #f4f4f4;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 400px;
    margin: auto;
}

#formId label, #formId input, #formId span {
    width: 100%;
    padding: 10px 5px;
}

#formId span{
    padding:10px 30px;
}

#formId label {
    font-weight: bold;
}

#formId input {
    border: 1px solid #ccc;
    border-radius: 4px;
}

#formId span{
    color: rgb(255, 136, 0);
    font-size: 15px;
    margin-bottom: 40px;
    
}

#formId button {
    background-color: darkolivegreen;
    color: black;
    border: none;
    width: 100%;
    padding: 10px 20px;
    cursor: pointer;
}
#formId #quantity{
    width: 50px;
    height: 7px;
}
  
  h2{
    color: antiquewhite;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: oblique;
    font-weight: lighter;
    font-size: 35px;
}

.container{
    position: relative;
    text-align: center; 
    display: flex;
    justify-content: center; /* Center the content horizontally */
    align-items: center; /* Center the content vertically */
    height: 15vh; 
  }

  /*END OF RESERVATIONS PAGE*/
